<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<link href="https://storage.googleapis.com/learn.jigsawlabs.co/static/css/courseware_sidebar.css" type="stylesheet" />
<%def name="online_help_token()"><% return "courseware" %></%def>
<%!
from django.utils.translation import ugettext as _
from django.conf import settings

from edxnotes.helpers import is_feature_enabled as is_edxnotes_enabled
from openedx.core.djangolib.markup import HTML
from openedx.core.djangolib.js_utils import js_escaped_string
from openedx.core.lib.courses import course_image_url
%>
<%
  include_special_exams = settings.FEATURES.get('ENABLE_SPECIAL_EXAMS', False) and (course.enable_proctored_exams or course.enable_timed_exams)
%>
<%def name="course_name()">
 <% return _("{course_name} Courseware").format(course_name=course.display_name_with_default) %>
</%def>

<%block name="bodyclass">view-in-course view-courseware courseware ${course.css_class or ''}</%block>

<%block name="title">
  <title>
    ${static.get_page_title_breadcrumbs(course_name())}
  </title>
</%block>

<%block name="header_extras">

% for template_name in ["image-modal"]:
<script type="text/template" id="${template_name}-tpl">
    <%static:include path="common/templates/${template_name}.underscore" />
</script>
% endfor



% if include_special_exams:
  % for template_name in ["proctored-exam-status"]:
    <script type="text/template" id="${template_name}-tpl">
        <%static:include path="courseware/${template_name}.underscore" />
    </script>
  % endfor
% endif

</%block>


<%block name="headextra">
  ## OG (Open Graph) title and description added below to give social media info to display
  ## (https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content#tags)
  <%static:css group='style-course-vendor'/>
  <%static:css group='style-course'/>

  ## Utility: Notes

  <%include file="../discussion/_js_head_dependencies.html" />

  ${HTML(fragment.head_html())}
</%block>

<%block name="js_extra">
  <script type="text/javascript" src="${static.url('common/js/vendor/jquery.scrollTo.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.js')}"></script>

  ## codemirror
  <script type="text/javascript" src="${static.url('js/vendor/codemirror-compressed.js')}"></script>

  <%static:js group='courseware'/>
  <%static:js group='discussion'/>
  % if settings.FEATURES.get('ENABLE_COURSEWARE_SEARCH'):
    <%static:require_module module_name="js/search/course/course_search_factory" class_name="CourseSearchFactory">
        var courseId = $('.courseware-results').data('courseId');
        CourseSearchFactory(courseId);
    </%static:require_module>
  % endif

  <%static:require_module module_name="js/courseware/courseware_factory" class_name="CoursewareFactory">
    CoursewareFactory();
  </%static:require_module>

  <%include file="../discussion/_js_body_dependencies.html" />
  % if staff_access:
  	<%include file="xqa_interface.html"/>
  % endif

  <script type="text/javascript">
    var $$course_id = "${course.id | n, js_escaped_string}";
  </script>

${HTML(fragment.foot_html())}

</%block>

<div class="message-banner" aria-live="polite"></div>
<!–– somehow the order of these stylesheets matter, we need to place lms-course on top ––>
<link rel="stylesheet" href="https://storage.googleapis.com/learn.jigsawlabs.co/static/css/lms-course.css" title="" type="text/css">
<link rel="stylesheet" href="https://storage.googleapis.com/learn.jigsawlabs.co/static/css/courseware.css" title="" type="text/css">
<link rel="stylesheet" href="https://storage.googleapis.com/learn.jigsawlabs.co/static/css/notebook.css" title="" type="text/css">
<div class="container">
  <div class="row">
    <div class="nav col-sm-2 is-active" style="margin-top: 13px;z-index: 8;top: 0; padding-right: 0px; padding-top: 56px;">
      <div class="hamburger-menu"> </div>
      <div class="nav-edition" style="padding-right: 0px;">
        <div class="bubble bubble--edition">
        </div>
        <div class="nav-title" style="margin-top: -6px; margin-left: 19px; color: #332E56; font-size: 15px; line-height: 1.1;">${course.display_name_with_default}</div>
      </div>
      <div class="nav-menu col-sm-2" style="background: #fafafa" style="min-width: 0px;">
        % if accordion.strip():
        ${HTML(accordion)}
        % else:
        <div class="chapter">${_("No content has been added to this course")}</div>
        % endif
      </div>
    </div>

      <div class="course-content col-sm-10" id="course-content" style="margin-top: 8%;">
        <main id="main" aria-label="Content" tabindex="-1">
        % if getattr(course, 'entrance_exam_enabled') and \
        getattr(course, 'entrance_exam_minimum_score_pct') and \
        entrance_exam_current_score is not UNDEFINED:
        % if not entrance_exam_passed:
        <p class="sequential-status-message">
        ${_('To access course materials, you must score {required_score}% or higher on this \
        exam. Your current score is {current_score}%.').format(
                        required_score=int(round(course.entrance_exam_minimum_score_pct * 100)),
                        current_score=int(round(entrance_exam_current_score * 100))
                    )}
                </p>
                <script type="text/javascript">
                $(document).ajaxSuccess(function(event, xhr, settings) {
                    if (settings.url.indexOf("xmodule_handler/problem_check") > -1) {
                        var data = JSON.parse(xhr.responseText);
                        if (data.entrance_exam_passed){
                            location.reload();
                        }
                    }
                });
                </script>
                % else:
                  <p class="sequential-status-message">
                    ${_('Your score is {current_score}%. You have passed the entrance exam.').format(
                        current_score=int(round(entrance_exam_current_score * 100))
                    )}
                </p>
                % endif
            % endif

            ${HTML(fragment.body_html())}
          </main>
        </div>

      <section class="courseware-results-wrapper col-md-9">
          <div id="loading-message" aria-live="polite" aria-relevant="all"></div>
          <div id="error-message" aria-live="polite"></div>
          <div class="courseware-results search-results col-md-12" data-course-id="${course.id}" data-lang-code="${language_preference}"></div>
      </section>

    </div>
  </div>

  <!––  closing div tag absent so that footer wraps inside of container  ––>
  <!––  removing link to courseware ––>


  <script>
    let navigationButton = $('.nav-edition')
    let navigation = $('.nav')
    navigationButton.on('click', function(){
      navigation.toggleClass('is-active')
    })

    $("div.nav>.nav-menu>ul.nav-menu__items>li>a").click(function (ev) {
            ev.preventDefault();
            ev.stopPropagation();
            var id = $(this).data("id");

            $("div.nav>.nav-menu>.nav-menu__submenu>.submenu").each(function(i,el){
            	if($(el).data("id")==id)
                	$(el).toggleClass("is-active");
            	else
                    $(el).removeClass("is-active");
			});

            return false;
        })


  </script>
  <style type="text/css" media="all">

    .global-header {
      overflow-y: scroll;
    }

    .vert-mod {
      overflow: hidden;
      width: 109%;
    }

    .vert-mod .iframe-wrapper {
      overflow: hidden;
      margin-left: -100px;
    }

    iframe[src^="https://desktop.jigsawlabs"] {
      top: -132px;
      position: relative;
      width: 115%;
      overflow: hidden;
    }



  </style>
  <script>
    if(window.attachEvent) {
      window.attachEvent('onload', yourFunctionName);
    } else {
      if(window.onload) {
        var curronload = window.onload;
        var newonload = function(evt) {
          curronload(evt);
          yourFunctionName(evt);
        };
        window.onload = newonload;
      } else {
        window.onload = yourFunctionName;
      }
    }

    function yourFunctionName(){
      let userName = document.querySelector('span.username').textContent;
      let userNameSrc = '/' + userName + '/'
      let iframes = Array.from(document.querySelectorAll('iframe[src^="https://desktop.jigsawlabs"]'))
      iframes.forEach(function(jupyterLabIframe){


      let iframeSrc = jupyterLabIframe.src.replace(/(?<=user)\/.*?\//, userNameSrc)
      jupyterLabIframe.src = iframeSrc;
      })
    }

  </script>
