## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>

<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from six import text_type
%>

<nav class="nav-links" aria-label=${_("Supplemental Links")}>
  <div class="secondary">



    <div>

      <div class="mobile-nav-item hidden-mobile nav-item">
        <a class="" href="/login${login_query()}">${_("Apply")}</a>
      </div>
    <div class="Button Button__purple" style="color: white;">
      <a style="color: white !important;" href="http://learn.jigsawlabs.co/account/finish_auth?course_id=course-v1:jigsawlabs+11+22&amp;enrollment_action=enroll&amp;email_opt_in=false">Login </a>
    </div>
    </div>
  </div>
</nav>
